<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="" />

        <link href="/static/css/style.css" rel="stylesheet" media="screen">

        <link href="/static/css/bootstrap-3-3-6/bootstrap.min.css" rel="stylesheet" media="screen">
    
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <script src="/static/js/bootstrap-3-3-6/bootstrap.min.js"></script>

        <title>Book Keeper</title>
        
    </head>

    <body>
        <div id="wrapper">
            <header>
                <img src="" class="left">
                <h1 class="right">Book Keeper</h1>
            </header>

            
            <div class="centre-content">
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            

            <footer>
                
            </footer>
        </div>
    </body>

</html>