{% extends  "base.html" %}
{% import 'macro.html' as macros%}
{% block content %}

    <div class="bd-content">

        <!-- add button here for new and edit existing entries -->
        <div class="bd-content-options">
            <input type="button" value="Edit" class="btn btn-primary btn-sm">
            <input type="button" value="New" class="btn btn-primary btn-sm">
        </div>

        <!-- un-editable details of a book -->
        <div class="bd-center-content">
            <div class="bd-content-title">
                <h2>{{ book_details.title }}</h2>
            </div>
            <div class="bd-content-image">
                <img src="{{ url_for('static', filename = 'images/200px-No_image_avail.png') }}">
            </div>
            <div class="bd-content-text form-horizontal">
                <input type="hidden" value="{{ book_details.book_id }}">

                {{ macros.display_non_form_text('Publisher:', 'publisher', book_details.publisher_id) }}
                {{ macros.display_non_form_text('Year:', 'year', book_details.year) }}
                {{ macros.display_non_form_text('P:', 'page_count', book_details.page_count) }}

                <!-- loop over isbn -->
                {% for row in book_details.isbn %}
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{ row.isbn_type.isbn_type_name }}:</label>
                        <div class="col-sm-9">
                            <p>{{ row.value }}</p>
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <label for="genre" class="control-label col-sm-3">Genre:</label>
                    <div class="col-sm-9">
                        <p id="genre">
                            <!-- loop over genres -->
                            {% if book_details.subject != [] %}
                                {% for row in book_details.subject %}
                                    {{ row.subject_name }}
                                    {% if not loop.last %}
                                        ,
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                &nbsp
                            {% endif %}
                        </p> 
                    </div>
                </div>

                <div class="form-group">
                    <label for="author" class="control-label col-sm-3">Authors:</label>
                    <div class="col-sm-9">
                        <p id="author">
                            {% if book_details.author %}
                                {% for row in book_details.author %}
                                    {{ row.author_name }}
                                    {% if not loop.last %}
                                        ,
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                &nbsp
                            {% endif %}
                        </p>
                    </div>
                </div>

                {{ macros.display_non_form_text('Dewey Normal:', 'dewey_normal', book_details.dewey_normal) }}
                {{ macros.display_non_form_text('Dewey Decimal:', 'dewey_decimal', book_details.dewey_decimal) }}
                {{ macros.display_non_form_text('Synopsis', 'synopsis', book_details.synopsis) }}

            </div>
        </div>
    </div>

    <!-- add edit\new user lightbox\modal form code here. -->

{% endblock %}